#fondo {
    /*Colocar fondo de imagen*/
    background-image: url("img/abstract-red-fluid-wave-background-free-vector.jpg");
    /*Colocar el tipo de letra*/
    font-family: Arial, sans-serif;
    /*Colocar el tamaño del fondo pero que se desplace cuando agrando o recorto la pantalla*/
    background-size: cover;
    
}

.formulario{
    width: 400px;
 
}

.fnombre {
    background-color: antiquewhite;
    width: 400px;
    height: 30px;
    /*Borde con estilo, color y modelo de radio */
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    /*padding para separar o tener un margen pero dentro*/
    padding: 1px 4px;
}

.fapellido {
    background-color: aquamarine; 
    width: 400px;
    height: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}

.fedad {
    background-color: cadetblue;
    width: 400px;
    height: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}

.fcorreo {
    background-color: coral;
    width: 400px;
    height: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}

.ftelefono {
    background-color: cornflowerblue;
    width: 400px;
    height: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}

.fpais {
    background-color: darkgreen;
    width: 400px;
    height: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}

#pais {
    background-color: rgb(149, 218, 149);
    margin: 5px;
    border-color: black;
    border-style: inset;
    border-radius: 5px;
}

.fdescripcion {
    background-color: rgb(43, 226, 223);
    width: 400px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;

}

.fdescripcion textarea {
    background-color: rgb(171, 234, 236);
    width: 370px;
    height: 100px;
    /*Margen para separar el apartado de pantalla*/
    margin: 4px;
}

.fgenero {
    background-color: beige;
    width: 400px;
    height: 50px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}


.fintereses {
    background-color: rgb(167, 103, 25);
    width: 400px;
    height: 50px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
    padding: 1px 4px;
}

div button {
    background-color: deeppink;
    width: 20%;
    height: 30px;
    border-style: inset;
    border-color: black;
    border-radius: 7px;
}

/* Este es un comentario con el que podemos dejarnos mensajes*/