body {
    background-color: rgb(255, 255, 255);

}

.infoborder {
    background-color: rgb(139, 212, 227);
    padding: 2px 4px;
}

.infoborder h1 {
    text-align: right;
    padding: 1px 100px 1px;
}

.infoborder h3 {
    text-align: right;
    padding: 1px 100px 1px;
}

.contenido {
    /*display es para poder darle maquetacion*/
    display: flex;
    background-color: rgb(217, 228, 237);
    justify-content: center;
    padding: 10px;

}

.info {
    width: 60%;
    padding: 20px;
    margin-left: 30px;
}


.barral {
    width: 300px;
    background-color: rgb(188, 195, 195);
    padding: 50px;
    margin-right: 100px;
}
.barral img {
    width: 100%;
    border-radius: 5px;
}


a:link {
    color:blue;
}
a:visited {
    color: rgb(240, 141, 176);
}
